<?xml version="1.0"?>

<launch>

    <arg name="veh" default="wamv" />
    <arg name="cmd" default="cmd_vel" />
    <arg name="joy" default="/joy" />
    <arg name="frame" default="map" />

    <!-- <include file="$(find subt_rl)/launch/pcToLaser_240_sim_wamv.launch">
        <arg name="veh" value="$(arg veh)" />
    </include> -->

    <!-- map truth_map_posestamped -->
    <group ns="$(arg veh)">

        <node pkg="wamv_rl" type="goal_nav_tf_vel_wamv.py" name="goal_nav_wamv_vel_rl" output="screen">
            <param name="frame" value="$(arg frame)" />
            <remap from="goal_in" to="/move_base_simple/goal" />
            <remap from="laser_in" to="RL/scan" />
            <remap from="odom_in" to="localization_gps_imu/pose" />
            <remap from="joy" to="$(arg joy)" />
            <remap from="cmd_out" to="$(arg cmd)" />
        </node>

    </group>


</launch>