<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="wamv_nctu_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.152491486793169 -0.000202900244282502 0.249876233087952"
        rpy="0 0 0" />
      <mass
        value="1291.18008913133" />
      <inertia
        ixx="31.0772824681247"
        ixy="-0.138270805196472"
        ixz="-29.3738336489099"
        iyy="867.957353843487"
        iyz="-0.000664284866747277"
        izz="867.687769253203" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wamv_nctu_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.54 0.695 0.9375 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wamv_nctu_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="imu_link">
    <inertial>
      <origin
        xyz="-0.3305 -0.118501057166427 0.0024999999999995"
        rpy="0 0 0" />
      <mass
        value="1.50212838055095" />
      <inertia
        ixx="0.0138452428153508"
        ixy="2.8106978189989E-17"
        ixz="2.45406011179555E-20"
        iyy="0.0690689140236707"
        iyz="-9.07713004494322E-20"
        izz="0.0829078979707692" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wamv_nctu_description/meshes/imu_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.3" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wamv_nctu_description/meshes/imu_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="imu_joint"
    type="fixed">
    <origin
      xyz="0.746929659577344 0.329202375203387 1.29117907881372"
      rpy="-3.14008108175084 -0.00101786773359974 1.57080472384134" />
    <parent
      link="base_link" />
    <child
      link="imu_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="velodyne_link">
    <inertial>
      <origin
        xyz="-0.000294776217511061 4.33124102195886E-05 0.0357745302853218"
        rpy="0 0 0" />
      <mass
        value="0.585082027162697" />
      <inertia
        ixx="0.000629066890293963"
        ixy="-9.08011678608794E-12"
        ixz="6.85330501596087E-08"
        iyy="0.000630263825979549"
        iyz="-5.01292370584132E-08"
        izz="0.00074925163854262" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wamv_nctu_description/meshes/velodyne_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wamv_nctu_description/meshes/velodyne_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="velodyne_joint"
    type="fixed">
    <origin
      xyz="0.726949065473584 -0.00179242971869779 1.7318731085397"
      rpy="0.00101786889643677 0.00151157105591378 0" />
    <parent
      link="base_link" />
    <child
      link="velodyne_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="mid_zed_link">
    <inertial>
      <origin
        xyz="-0.015884100072258 2.32311033430965E-09 4.38187281126545E-06"
        rpy="0 0 0" />
      <mass
        value="0.153126606897249" />
      <inertia
        ixx="0.00037584743344712"
        ixy="1.68865790722203E-13"
        ixz="-2.26862729197272E-09"
        iyy="2.29360906119758E-05"
        iyz="-6.58618047024287E-12"
        izz="0.000377927334724299" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wamv_nctu_description/meshes/mid_zed_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wamv_nctu_description/meshes/mid_zed_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="mid_zed_joint"
    type="fixed">
    <origin
      xyz="0.831886909515321 -0.00953532165075329 1.52523188250697"
      rpy="0.00101786886437734 0.00151157105591298 0" />
    <parent
      link="base_link" />
    <child
      link="mid_zed_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>